<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delen</title>

    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css" integrity="sha384-7YKuGDMxfA6V3TD8ZVyQo+XwT7JLhodANMMQ1BcFXhIinFQcE13Xn/SFW8Mr7jzi" crossorigin="anonymous">
</head>
<body>
    <header class="container">
        <hgroup>
            <h1>Delen</h1>
            <h2>Share some things</h2>
        </hgroup>
    </header>

    <main class="container">
        <h2>Upload a file</h2>

        <p>Hello World</p>
    </main>

    <main class="container">
        <h2>Current Files</h2>
        <ul>
            <li>
                File 1 
                <button>Download</button>
                <button>Delete</button>
            </li>

            <li>
                File 2
                <button>Download</button>
                <button>Delete</button>
            </li>
        </ul>
    </main>
</body>
</html>