<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delen</title>

    <script src="https://unpkg.com/htmx.org@1.6.1" integrity="sha384-tvG/2mnCFmGQzYC1Oh3qxQ7CkQ9kMzYjWZSNtrRZygHPDDqottzEJsqS4oUVodhW" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <h1>Delen</h1>
        <h2>Share some things</h2>
    </header>

    <main>
        <article hx-target="this">
            <h2>Upload a file</h2>

            <form id="form" hx-encoding="multipart/form-data" hx-post="/upload">
                <input type="file" name="files[]">
                <button>Upload</button>
            </form>
        </article>

        <article>
            <h2>Current Files</h2>
            <ul>
                <li>
                    File 1 
                    <button>Download</button>
                    <button>Delete</button>
                </li>

                <li>
                    File 2
                    <button>Download</button>
                    <button>Delete</button>
                </li>
            </ul>
        </article>
    </main>
</body>
</html>